<%
  def render_check_box(setting_key)
    content_tag :p do
      label_tag(setting_key, t("label_#{setting_key}")) +
        check_box_tag("settings[#{setting_key}]", 1, @settings[setting_key])
    end
  end
%>
<fieldset class="box tabular settings">
  <legend><%= l(:label_general_filters_settings) %></legend>
  <%= render_check_box('enable_root_id_filter') %>
  <%= render_check_box('enable_root_tracker_id_filter') %>
  <%= render_check_box('enable_root_status_id_filter') %>
  <%= render_check_box('enable_parent_tracker_id_filter') %>
  <%= render_check_box('enable_parent_status_id_filter') %>
  <%= render_check_box('enable_a_parent_tracker_id_filter') %>
  <%= render_check_box('enable_a_parent_status_id_filter') %>
  <%= render_check_box('enable_child_tracker_id_filter') %>
  <%= render_check_box('enable_child_status_id_filter') %>
</fieldset>

<fieldset class="box tabular settings">
  <legend><%= l(:label_specific_filters_settings) %></legend>
  <%= render_check_box('enable_a_specific_parent_tracker_id_filter') %>
  <%= render_check_box('enable_a_specific_parent_status_id_filter') %>
  <p>
    <%= label_tag 'min_depth', t('label_min_depth') %>
    <%= select_tag 'settings[min_depth]', options_for_select((1..10).to_a, @settings['min_depth'].to_i) %>
  </p>
  <p>
    <%= label_tag 'max_depth', t('label_max_depth') %>
    <%= select_tag 'settings[max_depth]', options_for_select((1..10).to_a, @settings['max_depth'].to_i) %>
  </p>
</fieldset>

<script type="text/javascript">
    $(document).ready(function(){
        const $minDepth = $('#settings_min_depth');
        const $maxDepth = $('#settings_max_depth');

        function checkMinMax(event){
            const minDepthValue = parseInt($minDepth.val(), 10);
            const maxDepthValue = parseInt($maxDepth.val(), 10);
            const $changedElement = $(event.target); // Get the jQuery object of the element that triggered the event
            if ($changedElement.attr('id') === 'settings_min_depth' && minDepthValue > maxDepthValue) {
                $maxDepth.val(minDepthValue);
            } else if ($changedElement.attr('id') === 'settings_max_depth' && maxDepthValue < minDepthValue) {
                $minDepth.val(maxDepthValue);
            }
        }

        $minDepth.change(checkMinMax);
        $maxDepth.change(checkMinMax);
    });
</script>
