<p>
  <%= label_tag 'enable_root_id_filter', t('labels.enable_root_id_filter') %>
  <%= check_box_tag 'settings[enable_root_id_filter]', 1,
                    @settings['enable_root_id_filter'] %>
</p>
<p>
  <%= label_tag 'enable_root_tracker_id_filter', t('labels.enable_root_tracker_id_filter') %>
  <%= check_box_tag 'settings[enable_root_tracker_id_filter]', 1,
                    @settings['enable_root_tracker_id_filter'] %>
</p>
<p>
  <%= label_tag 'enable_root_status_id_filter', t('labels.enable_root_status_id_filter') %>
  <%= check_box_tag 'settings[enable_root_status_id_filter]', 1,
                    @settings['enable_root_status_id_filter'] %>
</p>
<p>
  <%= label_tag 'enable_parent_tracker_id_filter', t('labels.enable_parent_tracker_id_filter') %>
  <%= check_box_tag 'settings[enable_parent_tracker_id_filter]', 1,
                    @settings['enable_parent_tracker_id_filter'] %>
</p>
<p>
  <%= label_tag 'enable_parent_status_id_filter', t('labels.enable_parent_status_id_filter') %>
  <%= check_box_tag 'settings[enable_parent_status_id_filter]', 1,
                    @settings['enable_parent_status_id_filter'] %>
</p>
<p>
  <%= label_tag 'enable_a_parent_tracker_id_filter', t('labels.enable_a_parent_tracker_id_filter') %>
  <%= check_box_tag 'settings[enable_a_parent_tracker_id_filter]', 1,
                    @settings['enable_a_parent_tracker_id_filter'] %>
</p>
<p>
  <%= label_tag 'enable_a_parent_status_id_filter', t('labels.enable_a_parent_status_id_filter') %>
  <%= check_box_tag 'settings[enable_a_parent_status_id_filter]', 1,
                    @settings['enable_a_parent_status_id_filter'] %>
</p>
<p>
  <%= label_tag 'enable_child_tracker_id_filter', t('labels.enable_child_tracker_id_filter') %>
  <%= check_box_tag 'settings[enable_child_tracker_id_filter]', 1,
                    @settings['enable_child_tracker_id_filter'] %>
</p>
<p>
  <%= label_tag 'enable_child_status_id_filter', t('labels.enable_child_status_id_filter') %>
  <%= check_box_tag 'settings[enable_child_status_id_filter]', 1,
                    @settings['enable_child_status_id_filter'] %>
</p>
